@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

.first {
    /* z-index: -1; */
    position: relative;
    top: -3rem;
  }
  h3 {
    text-align: center;
  }
  .second {
    /* z-index: -1; */
    position: relative;
    top: 3.2rem;
  }
  .products-img {
    margin-left: 100px;
  }
  marquee {
    z-index: -10;
    /* margin-bottom: 30px; */
    border-bottom: 2px solid grey;
  }
  .products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product-boxes {
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section .product-boxes div img {
    background-color: greenyellow;
    height: 20rem;
    width: 70vh;
    margin-top: 20px;
    
    display: flex;
    
    align-items: center;
    transition: 0.5s;
  }
  section .product-boxes div img:hover{
     opacity: 0.4;

  }
  
  section .product-boxes div button{
    background-color: transparent;
    font-weight: 700;
    border: 0.1px solid;
    cursor: pointer;
    font-family: "Gilroy-Regular", sans-serif; 
    position: relative;
    top:-3rem;
    padding: 10px;
    left:2.3rem;
    /* display: none; */
  }
  section .product-boxes div img :hover section .product-boxes div button{
    /* display: flex; */
  }
  section .product-boxes h3 {
    text-align: center;
    margin: 20px;
  }
@media (max-width:500px){
  section .product-boxes div img{
    width: 30vh;
    height: 20vh;
  }
  .product-boxes{
    background-color: rgb(221, 221, 221);
    margin: 10px;
    width: 35vh;
  }
  section .product-boxes div{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section .product-boxes div button{
    height: 6vh;
    width: 23vw;
    display: flex;
    
    align-items: center;
    justify-content: center;
  }
  

}