/* importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

.order1,
.points-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-inline: 2rem;
  background-color: rgb(0 0 0 / 0.1);
  padding: 1rem;
}

.header {
  margin-top: 30px;
  text-align: center;
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
}

.subtext {
  text-align: left;
  font-family: "Maven Pro", sans-serif;
  font-size: 1rem;
}
.subtext-img,
.point-img {
    margin: 0px 6px;
    height: 180px;
    width: clamp(150px, 40vw, 250px);
    background-color: seagreen;
    border-radius: 5px;
    cursor: pointer;
}

.why-customer {
    margin-block: 1rem;
     text-align: center;
     font-family: "Maven Pro", sans-serif;
     font-size: 1.5rem;
   }

.points,
.subtext {
    width: clamp(250px, 30vw, 600px);
    font-family: "Maven Pro", sans-serif;
}

.sub-points {
    margin: 1.875rem 0rem;
    text-align: center;
    font-family: "Maven Pro", sans-serif;
    font-size: 1rem;
    background-color: teal;
    color: white;
    text-decoration: underline;
    padding: 1rem;
    margin-inline: 1rem;
    text-transform: uppercase;
}


@media only screen and (max-width: 500px) {
  .subtext,
  .points {
    text-align: center;
    margin-bottom: 1rem;
  }

  .points-container,
  .order1 {
    flex-direction: column;
  }

  .subtext-img,
  .point-img {
    width: 70%;
  }
  
.last {
  margin-bottom: 10vw;
}
}