@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}
.navbar {
   z-index: 10;
    position: sticky;
    top: 0px;
    background-color: #2e2929;
    
}
.nav-list {
  align-items: center;
  height: 22vh;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-list > * {
  z-index: 10;
}


.nav-items {
  color: rgb(143, 143, 143); 

  position: relative;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  /* color: #eb2a2a; */
  font-size: 18px;
  
  letter-spacing: 0.5px;
  padding: 0 10px;
  transition: 0.3s ease-in-out;
}
/* .nav-list li nav-items::after { */
 .nav-items::after {
  content: "";
  position: absolute;
  /* background-color: #ff3c78; */
  background-color: #FF1E00;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s ease-in-out;
}


/* .nav-list li nav-items:hover { */
.nav-items:hover {

  color: #fff;
  font-size: 20px;
  
}
/* .nav-list li nav-items:hover::after { */
.nav-items:hover::after {
  width: 100%;
}
.locate{
  text-decoration: none;
  padding: 3px 10px;
  background-color: none;
  color: white;
  border: 1px solid white;
  transition: 0.3s;
}
.locate:hover{
  background-color: #ff1e00;
}
.nav-list li{
  flex-grow: 1;
}
.name{
  flex-grow: 11;
  /* border: 1px solid red; */
}
.logo{
    /* aspect-ratio:auto ; */
    margin-top: 1rem;
    max-width: 25rem;
    float: left;
    align-self:flex-start ;
    
}


.our-products{
  top: 0.1rem;
 } 
 .wrapper {
  z-index: 1;
   visibility: hidden;
   position: absolute;
   width: 100vw;
   height: 12rem;
   top: 6.5rem;
   left: 0rem;
   /* background-color: #ededed4d;  */
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: 0.1s ease-in-out;
 }
 
 .products-section{
  position: relative;
  top: 3.5rem;
   width: 100%;
   height: 100%;
   background: rgb(0 0 0 / 0.6); 
   display: inline-flex;
   align-items: center;
   justify-content: space-around;
 }
 
 .img{
   margin: 0px 6px;
   width: 130px;
   height: 180px;
   background-color: seagreen;
   border: 3px solid white;
   border-radius: 13px;
   cursor: pointer;
  }
 .sides{
  flex: 6;
  cursor: pointer;
 }

 
 .our-products:hover ~ .wrapper, .wrapper:hover{
   visibility: visible;
   opacity: 1;
 }

 .toggle-button{
  z-index: 12;
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
 }
 .toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
 }
 
@media (max-width:500px){
.name{
  height: 21vh;
  width: 100%;
  background-color:rgb(51, 51, 51) ;
}
  .toggle-button{
  display: flex;
}
.nav-list{
  display: none;
}
.nav-list{
  flex-direction: column;
  gap: 20px;
  
}
.navbar{
  /* height: 23vh; */
}
.active{
  display: flex;
}
.our-products:hover ~ .wrapper, .wrapper:hover{
  visibility: hidden;
  opacity: 0;
}
}